<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="president" class="org.example.springbootapp.domain.Person">
        <constructor-arg name="firstName" value="Chrystal" />
        <constructor-arg name="lastName" value="Havoc" />
        <constructor-arg name="email" value="chavocr@yahoo.com" />
        <constructor-arg name="company" value="Mymm" />
    </bean>

    <bean id="vicePresident" class="org.example.springbootapp.domain.Person">
        <constructor-arg name="firstName" value="Halley" />
        <constructor-arg name="lastName" value="Gadaud" />
        <constructor-arg name="email" value="hgadaud9@sohu.com" />
        <constructor-arg name="company" value="Oyope" />
    </bean>

    <bean id="secretary" class="org.example.springbootapp.domain.Person">
        <constructor-arg name="firstName" value="Kirbie" />
        <constructor-arg name="lastName" value="Wrettum" />
        <constructor-arg name="email" value="kwrettumj@slideshare.net" />
        <constructor-arg name="company" value="Browsetype" />
    </bean>
</beans>